{% extends "base.html" %}

{% block content %}
    <h1>Add New Entry</h1>
    <div>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <p class = "error">{{ message }}</p>
    {% endfor %}
    {% endwith %}
    <form action = '/newpost' method='post'>
        <label>
            Title for new Blog:
            <input type="text" name='blog_title' value = {{title}}>
        </label>
        <label>
            My new blog entry:
        </label>
        <textarea name="blog_entry"
        rows="10" cols="50">{{body}}</textarea>
        <label></label>
        <input type="submit" value='New Entry' />
    </form>
    </div>
{% endblock %}